## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN', 'NAME'])

In [3]:
# Determine the number of unique values in each column.
# Determine the number of unique values in each column.
unique_values = application_df.nunique()
print(unique_values)

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at 'APPLICATION_TYPE' value counts for binning
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()
print(application_type_counts)

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
cutoff_value = 500
application_types_to_replace = list(application_type_counts[application_type_counts < cutoff_value].index)

# Display the list of application types to be replaced
print(application_types_to_replace)

['T9', 'T13', 'T12', 'T2', 'T25', 'T14', 'T29', 'T15', 'T17']

In [6]:

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df['CLASSIFICATION'].value_counts()
print(classification_counts)

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [8]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts = application_df['CLASSIFICATION'].value_counts()
classification_counts_gt1 = classification_counts[classification_counts > 1]
print(classification_counts_gt1)

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [9]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`

cutoff_value = 1000

# Create a list of classifications to be replaced; i.e., those that occur less than the cutoff value
classifications_to_replace = list(classification_counts[classification_counts < cutoff_value].index)

# Display the list of classifications to be replaced
print(classifications_to_replace)

['C7000', 'C1700', 'C4000', 'C5000', 'C1270', 'C2700', 'C2800', 'C7100', 'C1300', 'C1280', 'C1230', 'C1400', 'C7200', 'C2300', 'C1240', 'C8000', 'C7120', 'C1500', 'C1800', 'C6000', 'C1250', 'C8200', 'C1238', 'C1278', 'C1235', 'C1237', 'C7210', 'C2400', 'C1720', 'C4100', 'C1257', 'C1600', 'C1260', 'C2710', 'C0', 'C3200', 'C1234', 'C1246', 'C1267', 'C1256', 'C2190', 'C4200', 'C2600', 'C5200', 'C1370', 'C1248', 'C6100', 'C1820', 'C1900', 'C1236', 'C3700', 'C2570', 'C1580', 'C1245', 'C2500', 'C1570', 'C1283', 'C2380', 'C1732', 'C1728', 'C2170', 'C4120', 'C8210', 'C2561', 'C4500', 'C2150']

In [10]:
# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [11]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df_dummies = pd.get_dummies(application_df)

# Display the first few rows of the dataframe to verify the transformation
print(application_df_dummies.head())

   STATUS  ASK_AMT  IS_SUCCESSFUL  APPLICATION_TYPE_Other  \
0       1     5000              1                   False
1       1   108590              1                   False
2       1     5000              0                   False
3       1     6692              1                   False
4       1   142590              1                   False

   APPLICATION_TYPE_T10  APPLICATION_TYPE_T19  APPLICATION_TYPE_T3  \
0                  True                 False                False
1                 False                 False                 True
2                 False                 False                False
3                 False                 False                 True
4                 False                 False                 True

   APPLICATION_TYPE_T4  APPLICATION_TYPE_T5  APPLICATION_TYPE_T6  ...  \
0                False                False                False  ...
1                False                False                False  ...
2                False                 True                False  ...
3                False                False                False  ...
4                False                False                False  ...

   INCOME_AMT_1-9999  INCOME_AMT_10000-24999  INCOME_AMT_100000-499999  \
0              False                   False                     False
1               True                   False                     False
2              False                   False                     False
3              False                    True                     False
4              False                   False                      True

   INCOME_AMT_10M-50M  INCOME_AMT_1M-5M  INCOME_AMT_25000-99999  \
0               False             False                   False
1               False             False                   False
2               False             False                   False
3               False             False                   False
4               False             False                   False

   INCOME_AMT_50M+  INCOME_AMT_5M-10M  SPECIAL_CONSIDERATIONS_N  \
0            False              False                      True
1            False              False                      True
2            False              False                      True
3            False              False                      True
4            False              False                      True

   SPECIAL_CONSIDERATIONS_Y
0                     False
1                     False
2                     False
3                     False
4                     False

[5 rows x 44 columns]

In [12]:
# Split our preprocessed data into our features and target arrays
y = application_df_dummies['IS_SUCCESSFUL'].values
X = application_df_dummies.drop(['IS_SUCCESSFUL'], axis=1).values

# Display the shapes of the target and features arrays to verify
print(f"Shape of Features Array: {X.shape}")
print(f"Shape of Target Array: {y.shape}")

Shape of Features Array: (34299, 43)
Shape of Target Array: (34299,)

In [13]:
# Split the preprocessed data into a training and testing dataset
from sklearn.model_selection import train_test_split

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

# Display the shape of the train and test sets to verify
print(f"Shape of Train Features: {X_train.shape}")
print(f"Shape of Test Features: {X_test.shape}")
print(f"Shape of Train Target: {y_train.shape}")
print(f"Shape of Test Target: {y_test.shape}")

Shape of Train Features: (25724, 43)
Shape of Test Features: (8575, 43)
Shape of Train Target: (25724,)
Shape of Test Target: (8575,)

In [14]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [15]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.


nn = tf.keras.models.Sequential()

# Import necessary Keras modules
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

# Number of input features
number_input_features = X_train.shape[1]
# Number of neurons in the first hidden layer
hidden_nodes_layer1 =  80
# Number of neurons in the second hidden layer
hidden_nodes_layer2 = 30

# Define the neural network model
nn_model = Sequential()

# First hidden layer
nn_model.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation='relu'))

# Second hidden layer
nn_model.add(Dense(units=hidden_nodes_layer2, activation='relu'))

# Output layer
nn_model.add(Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn_model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                3520

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 1)                 31

=================================================================
Total params: 5981 (23.36 KB)
Trainable params: 5981 (23.36 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [16]:
# Compile the model

nn_model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [20]:
# Train the model
# Train the model
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5342 - accuracy: 0.7399
Epoch 2/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5341 - accuracy: 0.7404
Epoch 3/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5338 - accuracy: 0.7396
Epoch 4/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5338 - accuracy: 0.7393
Epoch 5/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5340 - accuracy: 0.7406
Epoch 6/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5338 - accuracy: 0.7406
Epoch 7/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5344 - accuracy: 0.7405
Epoch 8/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5335 - accuracy: 0.7402
Epoch 9/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5339 - accuracy: 0.7399
Epoch 10/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5337 - accuracy: 0.7383
Epoch 11/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5334 - accuracy: 0.7401
Epoch 12/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5335 - accuracy: 0.7409
Epoch 13/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5336 - accuracy: 0.7404
Epoch 14/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5342 - accuracy: 0.7407
Epoch 15/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5333 - accuracy: 0.7403
Epoch 16/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5338 - accuracy: 0.7400
Epoch 17/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5331 - accuracy: 0.7407
Epoch 18/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5333 - accuracy: 0.7399
Epoch 19/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5332 - accuracy: 0.7399
Epoch 20/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5329 - accuracy: 0.7405
Epoch 21/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5332 - accuracy: 0.7408
Epoch 22/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5333 - accuracy: 0.7404
Epoch 23/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5334 - accuracy: 0.7393
Epoch 24/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5332 - accuracy: 0.7404
Epoch 25/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5331 - accuracy: 0.7406
Epoch 26/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5329 - accuracy: 0.7404
Epoch 27/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5330 - accuracy: 0.7404
Epoch 28/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5336 - accuracy: 0.7404
Epoch 29/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5336 - accuracy: 0.7402
Epoch 30/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5329 - accuracy: 0.7407
Epoch 31/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5329 - accuracy: 0.7409
Epoch 32/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5326 - accuracy: 0.7406
Epoch 33/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5325 - accuracy: 0.7406
Epoch 34/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5327 - accuracy: 0.7400
Epoch 35/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5330 - accuracy: 0.7400
Epoch 36/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5325 - accuracy: 0.7402
Epoch 37/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5323 - accuracy: 0.7407
Epoch 38/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5328 - accuracy: 0.7398
Epoch 39/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5327 - accuracy: 0.7405
Epoch 40/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5329 - accuracy: 0.7406
Epoch 41/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5326 - accuracy: 0.7405
Epoch 42/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5327 - accuracy: 0.7409
Epoch 43/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5325 - accuracy: 0.7411
Epoch 44/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5331 - accuracy: 0.7407
Epoch 45/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5327 - accuracy: 0.7408
Epoch 46/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5323 - accuracy: 0.7407
Epoch 47/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5324 - accuracy: 0.7409
Epoch 48/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5327 - accuracy: 0.7409
Epoch 49/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5326 - accuracy: 0.7411
Epoch 50/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5322 - accuracy: 0.7410
Epoch 51/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5329 - accuracy: 0.7405
Epoch 52/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5327 - accuracy: 0.7410
Epoch 53/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5317 - accuracy: 0.7404
Epoch 54/100
804/804 [==============================] - 5s 7ms/step - loss: 0.5329 - accuracy: 0.7399
Epoch 55/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5322 - accuracy: 0.7412
Epoch 56/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5320 - accuracy: 0.7409
Epoch 57/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5323 - accuracy: 0.7403
Epoch 58/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5319 - accuracy: 0.7397
Epoch 59/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5319 - accuracy: 0.7407
Epoch 60/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5326 - accuracy: 0.7406
Epoch 61/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5319 - accuracy: 0.7411
Epoch 62/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5319 - accuracy: 0.7403
Epoch 63/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5322 - accuracy: 0.7421
Epoch 64/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5324 - accuracy: 0.7410
Epoch 65/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5321 - accuracy: 0.7407
Epoch 66/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5327 - accuracy: 0.7404
Epoch 67/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5332 - accuracy: 0.7403
Epoch 68/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5336 - accuracy: 0.7410
Epoch 69/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5323 - accuracy: 0.7404
Epoch 70/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5322 - accuracy: 0.7406
Epoch 71/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5319 - accuracy: 0.7411
Epoch 72/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5319 - accuracy: 0.7403
Epoch 73/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5323 - accuracy: 0.7407
Epoch 74/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5317 - accuracy: 0.7404
Epoch 75/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5319 - accuracy: 0.7411
Epoch 76/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5318 - accuracy: 0.7413
Epoch 77/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5319 - accuracy: 0.7414
Epoch 78/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5314 - accuracy: 0.7413
Epoch 79/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5321 - accuracy: 0.7410
Epoch 80/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5318 - accuracy: 0.7409
Epoch 81/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5314 - accuracy: 0.7408
Epoch 82/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5320 - accuracy: 0.7406
Epoch 83/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5320 - accuracy: 0.7403
Epoch 84/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5315 - accuracy: 0.7410
Epoch 85/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5311 - accuracy: 0.7412
Epoch 86/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5321 - accuracy: 0.7404
Epoch 87/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5322 - accuracy: 0.7416
Epoch 88/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5312 - accuracy: 0.7411
Epoch 89/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5317 - accuracy: 0.7416
Epoch 90/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5316 - accuracy: 0.7411
Epoch 91/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5313 - accuracy: 0.7413
Epoch 92/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5316 - accuracy: 0.7412
Epoch 93/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5322 - accuracy: 0.7406
Epoch 94/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5317 - accuracy: 0.7407
Epoch 95/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5310 - accuracy: 0.7410
Epoch 96/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5315 - accuracy: 0.7411
Epoch 97/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5314 - accuracy: 0.7403
Epoch 98/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5315 - accuracy: 0.7414
Epoch 99/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5320 - accuracy: 0.7409
Epoch 100/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5312 - accuracy: 0.7413

In [22]:
# Evaluate the model using the test data
from tensorflow.keras import backend as K
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 7.2564 - accuracy: 1.1662e-04 - 705ms/epoch - 3ms/step
Loss: 7.256429672241211, Accuracy: 0.00011661807366181165

In [23]:
# Export our model to HDF5 file
nn_model.save("trained_model.h5")

# Confirm that the model was saved
print("Model saved to HDF5 file.")

Model saved to HDF5 file.

/usr/local/lib/python3.10/dist-packages/keras/src/engine/training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(